.aggregateMenu {
  margin-right: 8px;
  cursor      : pointer;
}

.aggregateMenuDrawer :global(.ant-drawer-header-title) {
  flex-direction: row-reverse;
}

.aggregateMenuDrawer :global(.ant-drawer-body) {
  padding: 0;
}

.aggregateMenuDrawerRow {
  height : 100%;
  display: flex;
}

.aggregateMenuDrawerAllMenu {
  height    : calc(100% - 52px);
  padding   : 16px;
  overflow-y: auto;
  box-sizing: border-box;
}

.aggregateMenuDrawerAllMenuColumn {
  /* column瀑布流 */
  column-count: 3;
  column-gap  : 10px;
}

.aggregateMenuDrawerAllMenuColumnItem {
  /* 瀑布流关键写法 */
  break-inside : avoid;
  margin-bottom: 16px;
}

.aggregateMenuDrawerAllAppTitle {
  font-weight: bold;
  height     : 32px;
  line-height: 32px;
  padding    : 0 16px;
  color      : #ff6a00;
}

.aggregateMenuDrawerAllMenuTitle {
  font-weight: bold;
  height     : 32px;
  line-height: 32px;
  padding    : 0 16px;
}

.aggregateMenuDrawerAllMenuItem {
  height     : 32px;
  line-height: 32px;
  cursor     : pointer;
  padding    : 0 6px 0 16px;
  display    : flex;
}

.aggregateMenuDrawerAllMenuItem :global(.anticon-star.collect) {
  color  : rgb(255, 106, 0);
  display: inline-flex;
}

.aggregateMenuDrawerAllMenuItem:hover {
  background-color: #f1f1f1;
}

.aggregateMenuDrawerAllMenuItem:hover :global(.anticon) {
  display: inline;
}

.aggregateMenuDrawerAllMenuItemDir {
  height     : 32px;
  line-height: 32px;
  padding    : 0 16px;
  font-weight: bold;
}

.aggregateMenuDrawerAllMenuItemName {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
  flex         : auto;
  font-weight  : lighter;
}

.aggregateMenuDrawerAllMenuItemIcons :global(.ant-space) {
  align-items: unset;
}

.aggregateMenuDrawerAllMenuItemIcons :global(.anticon) {
  display: none;
  color  : #c1c1c1;
}

.aggregateMenuDrawerAllMenuItemIcons :global(.anticon):hover {
  color: #8c8c8c;
}

.aggregateMenuDrawerAllMenuItemIcons :global(.anticon):hover :global(.anticon-star.collect) {
  color  : rgb(255, 106, 0);
  display: inline-flex;
}

.aggregateMenuDrawerAllInput {
  padding      : 10px 0;
  margin       : 0 16px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.aggregateMenuDrawerMenu {
  height      : 100%;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
}

.aggregateMenuDrawerMenuGroup {
  padding-left: 16px;
}

.aggregateMenuDrawerAppItem {
  height     : 40px;
  line-height: 40px;
  padding    : 0 10px 0 16px;
  display    : flex;
}

.aggregateMenuDrawerAppItem:hover .aggregateMenuDrawerAppItemIcons {
  display: block;
}

.aggregateMenuDrawerAppItemIcons {
  display: none;
}

.aggregateMenuDrawerAppItemIcons :global(.anticon) {
  color: #c1c1c1;
}

.aggregateMenuDrawerAppItemIcons :global(.dragIcon) {
  cursor: all-scroll;
}

.aggregateMenuDrawerAppItemIcons :global(.anticon):hover {
  color: #8c8c8c;
}

.aggregateMenuDrawerAppItemName {
  flex         : auto;
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
  font-weight  : bold;
  color        : #ff6a00;
}

.aggregateMenuDrawerMenuItem {
  height     : 40px;
  line-height: 40px;
  cursor     : pointer;
  padding    : 0 10px 0 16px;
  display    : flex;
}

.aggregateMenuDrawerMenuItem:hover {
  background-color: #f1f1f1;
}

.aggregateMenuDrawerMenuItem:hover .aggregateMenuDrawerMenuItemIcons {
  display: block;
}

.aggregateMenuDrawerMenuItemIcons {
  display: none;
}

.aggregateMenuDrawerMenuItemIcons :global(.anticon) {
  color: #c1c1c1;
}

.aggregateMenuDrawerMenuItemIcons :global(.dragIcon) {
  cursor: all-scroll;
}

.aggregateMenuDrawerMenuItemIcons :global(.anticon):hover {
  color: #8c8c8c;
}

.aggregateMenuDrawerMenuItemName {
  flex         : auto;
  text-overflow: ellipsis;
  white-space  : nowrap;
  overflow     : hidden;
}

.aggregateMenuLatelys {
  padding   : 16px 16px 0 16px;
  height    : 112px;
  box-sizing: border-box;
}

.aggregateMenuLatelysColumn {
  column-count: 3;
  column-gap  : 10px;
}

/* 黑色主题处理 */
.aggregateMenuDark {
  color: #1c1121;
}

/* .aggregateMenuDark .aggregateMenuDrawerAllInput {
  border-bottom: 1px solid #ffffff40;
}

.aggregateMenuDark .aggregateMenuDrawerAllMenuItem:hover {
  background-color: #ffffff40;

}

.aggregateMenuDark .aggregateMenuDrawerMenuItem:hover {
  background-color: #ffffff40;
} */
